@model MyRuns.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            @*<img src="~/img/my-runs.png" />*@
            <h1 class="headline">MyRuns<span class="period">.</span>io</h1>
            <p class="lead">A quick and easy way to see your Strava recorded Top 10 PB's by distance.  </p>
            <p class="lead">No sign up, just log in and have a look!</p>

            @if (Model.IsAuthenticated)
            {
                <p class="lead"> Happy Running! 🏃‍♂🏅🎉</p>
                <br />
                <a href="@Url.Action("Index", "Home", new { distance = "FiveKilometers", runType = "RunsOnly" })" class="btn btn-default btn-lg btn-distance"><i class="fas fa-running"></i> 5k</a>
                <a href="@Url.Action("Index", "Home", new { distance = "TenKilometers", runType = "RunsOnly" })" class="btn btn-primary btn-lg btn-distance"><i class="fas fa-running"></i> 10k</a>
                <a href="@Url.Action("Index", "Home", new { distance = "HalfMarathon", runType = "RunsOnly" })" class="btn btn-success btn-lg btn-distance"><i class="fas fa-running"></i> Half Marathon</a>
                <a href="@Url.Action("Index", "Home", new { distance = "Marathon", runType = "RunsOnly" })" class="btn btn-indigo  btn-lg btn-distance"><i class="fas fa-running"></i> Marathon</a>
                <br />

                <div class="radio-controls">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="RunsOnly" name="runningFilters" value="RunsOnly">
                        <label class="custom-control-label" for="RunsOnly">Just runs</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="Mixed" name="runningFilters" value="Mixed">
                        <label class="custom-control-label" for="Mixed">Include Treadmill</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="TreadmillOnly" name="runningFilters" value="TreadmillOnly">
                        <label class="custom-control-label" for="TreadmillOnly">Treadmill only</label>
                    </div>
                </div>
            }
            else
            {
                <p class="lead">Please sign into your Strava Account and we'll grab your PB's for you 👍</p>
                <a href="@Url.Action("List", "Home")" class="btn btn-orange btn-lg"><i class="fab fa-strava"></i> Sign In</a>
            }

        </div>
    </div>
    <div class="row" id="activities">
        
            @{Html.RenderPartial("_Activities", Model);}



    </div>