@model MyRuns.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@functions{ 
    string RenderPosition(int i)
    {
        if (i > 2)
        {
            return string.Empty;
        }
        else if(i == 0)
        {
            return "🥇 ";
        }
        else if(i == 1)
        {
            return "🥈 ";
        }
        else if (i == 2)
        {
            return "🥉 ";
        }
        return string.Empty;
    }
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">MyRuns.io</h2>
            <p class="lead">A quick and easy way to see your Top 10 PB's by distance.</p>

            @if (Model.IsAuthenticated)
            {
                <p class="lead"> Happy Running! 🏃‍♂🏅🎉</p>
                <br />
                <a href="@Url.Action("Index", "Home", new { distance = "FiveKilometers", runType = "RunsOnly" })" class="btn btn-default btn-lg btn-distance"><i class="fas fa-running"></i> 5k</a>
                <a href="@Url.Action("Index", "Home", new { distance = "TenKilometers", runType = "RunsOnly" })" class="btn btn-primary btn-lg btn-distance"><i class="fas fa-running"></i> 10k</a>
                <a href="@Url.Action("Index", "Home", new { distance = "HalfMarathon", runType = "RunsOnly" })" class="btn btn-success btn-lg btn-distance"><i class="fas fa-running"></i> Half Marathon</a>
                <a href="@Url.Action("Index", "Home", new { distance = "Marathon", runType = "RunsOnly" })" class="btn btn-indigo  btn-lg btn-distance"><i class="fas fa-running"></i> Marathon</a>
                <br />

                <div class="radio-controls">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="RunsOnly" name="runningFilters" value="RunsOnly">
                        <label class="custom-control-label" for="RunsOnly">Just runs</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="Mixed" name="runningFilters" value="Mixed">
                        <label class="custom-control-label" for="Mixed">Include Treadmill</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="TreadmillOnly" name="runningFilters" value="TreadmillOnly">
                        <label class="custom-control-label" for="TreadmillOnly">Treadmill only</label>
                    </div>
                </div>
            }
            else
            {
                <p class="lead">Please sign into your Strava Account and we'll grab your PB's for you 👍</p>
                <a href="@Url.Action("List", "Home")" class="btn btn-orange btn-lg"><i class="fab fa-strava"></i> Sign In</a>
            }

        </div>
    </div>
<div class="row">
    
    <div class="col-12">
        @{
            int i = 0;
            foreach (var activity in Model.Activities)
            {


                <!-- Card -->
                <div class="card" style="margin-bottom:15px">

                    <!-- Card content -->
                    <div class="card-body">
                        @if (activity.Treadmill)
                        {
                            <button class="btn btn-default btn-deep-orange float-right btn-sm btn-tread">Treadmill <i class="fas fa-dumbbell"></i></button>
                        }

                        <!-- Title -->
                        <h3 class="card-title">@RenderPosition(i)@activity.Time </h3>
                        <!-- Text -->
                        <p class="card-text">
                            <h4><strong>@activity.Name</strong></h4>
                            <h5>@activity.Distance</h5>
                            <h5>@activity.Start</h5>

                        </p>

                    </div>

                </div>
                <!-- Card -->


                i++;
            }

        }
    </div>

   
</div>